<div id="<%= dom_id watch %>">
  <p>
    <strong>Brand:</strong>
    <%= watch.brand %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= watch.price %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= watch.year %>
  </p>

</div>
